---
import Mission from "../components/Mission";
import CosaTroverai from "../components/CosaTroverai";
import Hero from "../components/Hero";
import Layout from "../layouts/Layout.astro";
import ComeFunziona from "../components/ComeFunziona";
import Testimonials from "../components/Testimonials.astro";
import Needs from "../components/Needs";
import Price from "../components/Price.astro";
import Accordions from "../components/Accordions";
import Footer from "../components/Footer";
---

<Layout title="Matcha Studio">
  <main>
    <Hero />
    <div class="containerino">
      <Mission />
      <CosaTroverai />
      <ComeFunziona />
      <Testimonials />
      <Needs />
      <Price />
      <Accordions client:only 
      domanda1="Sono un principiante. Posso comunque iscrivermi?" 
      risposta1="Assolutamente SI. All'interno della scuola troverai percorsi costruiti ad hoc per i principianti che ti avvicineranno a questo mondo. Inoltre, potrai richiedere una consulenza gratuita con la nostra insegnante di Yoga Angelica che ti illustrerà il percorso da seguire e risponderà alle tue domande." 
      domanda2="Quali sono i metodi di pagamento accettati?" 
      risposta2="Come metodo di pagamento accettiamo PayPal o carta di debito/credito. " 
      domanda3="Cosa succede se mi perdo una live?" 
      risposta3="Nessun problema. Le live rimangono disponibili per la visione all'interno della scuola e potrai seguirle quando ti sarà piú comodo. I video non hanno scadenza, resteranno disponibili per tutta la durata del tuo abbonamento." 
      domanda4="Come faccio a capire se questo percorso è adatto a me?" 
      risposta4="Puoi richiedere una consulenza gratuita con la nostra insegnante di Yoga Angelica che risponderà alle tue domande e ti illustrerà il funzionamento della scuola." 
      domanda5="Come funziona l'abbonameto?" 
      risposta5="L'abbonamento si rinnova in automatico ogni 30 giorni." 
      domanda6="Come funziona il periodo di prova?" 
      risposta6="Iscrivendoti avrai accesso completo alla scuola per 1 settimana. Non è richiesto l'insserimento di una carta di credito e non si attiverà nessun abbonamento al termine dei 7 giorni. Ti aspettiamo all'interno" 
      domanda7="Quali sono i vantaggi di Matcha Studio?" 
      risposta7="Iscrivendoti a Matcha Stduio avrai molti dei vantaggi di uno studio fisico, ma praticando dove vuoi tu. I nostri insegnanti saranno lieti di accompagnarti nel tuo percorso e saranno a tua disposizione. Da studente avrai anche accesso a sconti su merce ed eventi dal vivo organizzati dalla scuola." 
      />
    </div>
    <Footer client:only />
  </main>
</Layout>

<style>
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
