---
import CosaTroverai from '../components/CosaTroverai';
import Hero from '../components/Hero';
import ShortSpecs from '../components/ShortSpecs';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Matcha Studio">
	<main>
		<Hero />
		<ShortSpecs />
		<CosaTroverai />
	</main>
</Layout>

<style>
	main {
		margin: auto;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
