---
import Mission from "../components/Mission";
import CosaTroverai from "../components/CosaTroverai";
import Hero from "../components/Hero";
import Layout from "../layouts/Layout.astro";
import ComeFunziona from "../components/ComeFunziona";
import Timeline from "../components/Timeline.astro";
import Testimonials from "../components/Testimonials.astro";
import Needs from "../components/Needs";
import Price from "../components/Price.astro";
import Accordions from "../components/Accordions";
import Footer from "../components/Footer";
---

<Layout title="Matcha Studio">
  <main>
    <Hero />
    <Mission />
    <CosaTroverai />
    <ComeFunziona />
    <Testimonials />
    <Needs />
    <Price />
    <Accordions client:only/>
    <Footer client:only/>
  </main>
</Layout>

<style>
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>