---
import Mission from "../components/Mission";
import CosaTroverai from "../components/CosaTroverai";
import Hero from "../components/Hero";
import Layout from "../layouts/Layout.astro";
import ComeFunziona from "../components/ComeFunziona";
import Needs from "../components/Needs";
import Price from "../components/Price.astro";
import Accordions from "../components/Accordions";
import Footer from "../components/Footer";
import PopPasqua from "../components/PopPasqua";
import Sticky from "../components/Sticky";
---

<Layout title="Matcha Studio - Lezioni Online di Yoga e Discipline Olistiche in Live">
  <main>
    <PopPasqua client:only />
    <Sticky client:only />
    <Hero />
    <div class="containerino">
      <Mission client:visible />
      <CosaTroverai />
      <ComeFunziona />
      <Needs />
      <Price />
      <Accordions
        client:only
        domanda1="Non ho mai praticato Yoga, \u00E8 adatto anche a me? "
        risposta1="Registrati e accedi subito al corso \u201Cyoga per principianti\u201D: 12 video lezioni registrate da Angelica per farti conoscere le basi dello Yoga e iniziare a praticare in maniera sicura e piacevole gi\u00E0 da subito."
        domanda2="Cosa \u00E8 incluso nell\u2019abbonamento?"
        risposta2="Una consulenza gratuita (facoltativa) per capire da dove iniziare e quale corso seguire,\nDiverse lezioni live ogni settimana,\nRegistrazioni e video corsi a tema,\nIl supporto dell\u2019insegnante sempre a tua disposizione."
        domanda3="Quante lezioni posso seguire?"
        risposta3="Illimitate; con l\u2019abbonamento a 35 euro al mese, hai l\u2019accesso completo allo studio e alla libreria video."
        domanda4="Se non riesco a partecipare in live posso rivedere la lezione?"
        risposta4="Ovviamente si. La nostra forza \u00E8 proprio questa. La registrazione della lezione verr\u00E0 pubblicata nella libreria video dello studio, dopo 15 minuti dal termine della lezione stessa."
        domanda5="Come funziona l\u2019accesso alle lezioni live?"
        risposta5="Dal portale di momoyoga, nella sezione programma, ti registri alla lezione che vuoi seguire in live.\nRiceverai un'email 30 minuti prima della lezione con il link Zoom della live. \n(Assicurati di avere gi\u00E0 installato Zoom nel tuo dispositivo), ti baster\u00E0 cliccare nel link per accedere alla lezione."
        domanda6="L\u2019insegnante mi segue e mi supporta nel percorso?"
        risposta6="Angelica, l\u2019insegnante di riferimento, \u00E8 una persona super empatia e tiene molto ai propri studenti, il suo punto di forza \u00E8 la capacit\u00E0 di supportare gli allievi e di seguirli anche a distanza, eliminando ogni barriera."
        domanda7="Che si intende per attivit\u00E0 extra e mini corsi?"
        risposta7="Nella libreria video troverai delle playlist a tema, con dei video corsi registrati; \nper esempio \u201Cyoga per l\u2019ansia\u201D un mini corso di 2 settimane per imparare a gestire l\u2019ansia\u2026 e molti altri realizzati da Angelica o dai collaboratori olistici."
        domanda8="Chi sono gli insegnanti?"
        risposta8="Angelica \u00E8 la fondatrice del Matcha Studio e insieme all\u2019aiuto e alla collaborazione di altri insegnanti potr\u00E0 fornirti attivit\u00E0 extra al di fuori dello yoga ma sempre connessi al mondo olistico."
        domanda9="Quali sono le attivit\u00E0 extra?"
        risposta9="Presto inizieranno ad unirsi al team altri professionisti: power yoga, alimentazione consapevole, Ayurveda, oli essenziali, sound healing e altre sorprese\u2026\u2026"
        domanda10="L\u2019abbonamento si rinnova automaticamente?"
        risposta10="L\u2019abbonamento si rinnova ogni mese, ma dovrai assicurarti di ricaricare la carta che hai inserito al primo accesso. Riceverai una mail come promemoria prima del rinnovo."
        domanda11="Posso disdire quando voglio?"
        risposta11="Si, puoi disdire quando vuoi senza alcun costo. Maaa.. perch\u00E9 dovresti?! :)"
      />
    </div>
    <Footer client:only />
  </main>
</Layout>