---
import Button from "./Button";
---

<div class="mx-auto max-w-screen-lg px-2 xs:px-4 py-16">
  <div class="grid fg:grid-cols-2 lg:grid-cols-3 gap-2 xs:gap-4">
    <div class="mb-4 md:mb-8 col-span-1 lg:col-span-2 lg:pr-28">
      <h1 class="mb-4">Inizia da subito a praticare</h1>
      <p class="mx-auto max-w-screen-md">
        Scegli di unirti ad un gruppo di persone che tengono al proprio
        benessere e sono pronte a condividere tutto quello che sperimentano.
      </p>
    </div>
    <div class="w-full rounded-xl bg-gradient p-4 lg:p-6 fg:order-3 fg:col-span-2 text-center">
      <h3 class="font-semibold text-white mb-4 title-shadow lg:text-[2.2rem]">
        Prova gratis per 7 giorni
      </h3>
      <ul class="mb-6 space-y-2 text-gray-900 min-w-min">
        <li class="flex items-center gap-1.5">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 shrink-0"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
              clip-rule="evenodd"></path>
          </svg>
          <span class="text-gray-900">Accesso completo</span>
        </li>
        <li class="flex items-center gap-1.5">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 shrink-0"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
              clip-rule="evenodd"></path>
          </svg>
          <span class="text-gray-900">NO carta di credito</span>
        </li>
      </ul>
      <Button title="Inizia a praticare" className="bg-primary text-white" />
    </div>
    <div class="w-full rounded-lg bg-slate-200 p-4 col-span-1 flex flex-col justify-evenly">
      <div class="flex text-greenish items-baseline mb-4">
        <h1 class="">35€</h1><span class="ml-1">/al mese</span>
      </div>
      <ul class="mb-6 space-y-2 text-gray-800">
        <li class="flex items-center gap-1.5">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 shrink-0"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
              clip-rule="evenodd"></path>
          </svg>
          <span>Accesso completo</span>
        </li>
        <li class="flex items-center gap-1.5">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 shrink-0"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
              clip-rule="evenodd"></path>
          </svg>
          <span>Consulenza iniziale gratuita</span>
        </li>
      </ul>
      <Button title="Abbonati ora" className="bg-yellowish" />
    </div>
    <div class="w-full h-full bg-albero bg-cover bg-center rounded-xl hidden lg:block lg:order-5">

    </div>
  </div>
</div>
