---
import Button from "./Button";
---

<div class="mx-auto px-2 xs:px-4 py-12 lg:py-20">
  <div class="grid fg:grid-cols-2 lg:grid-cols-3 gap-2 xs:gap-4">
    <div class="mb-4 md:mb-8 col-span-1 lg:col-span-2 lg:pr-28 md:pr-8">
      <h2 class="mb-4 title-shadow">Inizia da subito a praticare con noi</h2>
      <p class="mx-auto max-w-screen-md">
        Matcha studio è un centro virtuale frequentato da persone reali che hanno voglia di sentirsi bene e di trovare uno spazio per se stessi. Se anche tu sei una di quelle, provalo gratis!
      </p>
    </div>
    <div
      class="w-full rounded-xl bg-gradient p-4 md:p-6 fg:order-3 fg:col-span-2 text-center"
    >
      <h3 class="font-semibold text-white mb-4 title-shadow lg:text-[2.2rem]">
        Prova gratis per 7 giorni
      </h3>
      <ul class="mb-6 space-y-2 text-gray-900 min-w-min">
        <li class="flex items-center gap-1.5 fg:justify-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 shrink-0"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
              clip-rule="evenodd"></path>
          </svg>
          <span class="text-gray-900">Accesso completo</span>
        </li>
        <li class="flex items-center gap-1.5 fg:justify-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 shrink-0"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
              clip-rule="evenodd"></path>
          </svg>
          <span class="text-gray-900">No carta di credito</span>
        </li>
      </ul>
      <Button
        title="Inizia a praticare ora"
        className="bg-primary text-white hover:bg-[#e6704f]"
        link="https://www.momoyoga.com/matcha-studio/register"
      />
    </div>
    <div
      class="w-full rounded-lg bg-grayish p-4 col-span-1 flex flex-col justify-evenly"
    >
      <div class="flex text-greenish items-baseline mb-4">
        <h1 class="">35€</h1><span class="ml-1">/al mese</span>
      </div>
      <ul class="mb-6 space-y-2 text-gray-800">
        <li class="flex items-center gap-1.5">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 shrink-0"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
              clip-rule="evenodd"></path>
          </svg>
          <span>Accesso completo</span>
        </li>
        <li class="flex items-center gap-1.5">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 shrink-0"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
              clip-rule="evenodd"></path>
          </svg>
          <span>Consulenza iniziale gratuita</span>
        </li>
      </ul>
      <Button
        title="Abbonati ora"
        className="bg-yellowish hover:bg-[#edfaa1]"
        link="https://www.momoyoga.com/matcha-studio/member/order/create/choose-product"
      />
    </div>
    <div
      class="w-full h-full bg-[url('https://ik.imagekit.io/mauand/tr:w-500/matcha-studio/albero.jpg')] bg-cover bg-center rounded-xl hidden lg:block lg:order-5"
    >
    </div>
  </div>
</div>
