---
export interface Props {
    text: string;
    author: string;
}

const { text, author } = Astro.props;
---

<div class="text-center bg-slate-200 rounded-md p-6 w-full mb-4">
    <p class="mb-4">{text}</p>
    <p class='text-sm font-bold'>{author}</p>
</div>