---
import "@fontsource/dm-sans/400.css";
import "@fontsource/dm-sans/700.css";
import "@fontsource/montserrat/900.css";
import "@fontsource/montserrat/700.css";
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
  html {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    background-color: rgba(110, 130, 87, 0.13);
    color: #4F4642;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    color: #242424;
  }
  h1 {
    font-size: 3.2rem;
    font-weight: 900;
  }
  h2 {
    font-size: 3rem;
    font-weight: 900;
  }
  h3 {
    font-size: 1.9rem;
    font-weight: 700;
  }
  h4 {
    font-size: 1.7rem;
    font-weight: 700;
  }
  h5 {
    font-size: 1.5rem;
    font-weight: 700;
  }
  h6 {
    font-size: 1.3rem;
    font-weight: 700;
  }
</style>
